<div class="col-lg-6 mx-auto">
    <div>
        <div class="text-center mt-4">
            <img src="{{logoUrl}}" alt="logo">
            <h2>Register</h2>
            <p>Create a new account</p>
        </div>

        <div class="card">
            <div class="card-body">
                <form>
                    <div class="form-group mb-3">
                        <label for="username">Username</label>
                        <input
                            class="form-control form-control-lg"
                            placeholder="Choose a username"
                            type="text"
                            id="username"
                        >
                    </div>
                    <div class="form-group mb-3">
                        <label for="firstName">First Name</label>
                        <input
                            class="form-control form-control-lg"
                            placeholder="Enter your first name"
                            type="text"
                            id="firstName"
                        >
                    </div>
                    <div class="form-group mb-3">
                        <label for="lastName">Last Name</label>
                        <input
                            class="form-control form-control-lg"
                            placeholder="Enter your last name"
                            type="text"
                            id="lastName"
                        >
                    </div>
                    <div class="form-group mb-3">
                        <label for="email">Email</label>
                        <input
                            class="form-control form-control-lg"
                            placeholder="Enter your email"
                            type="email"
                            id="email"
                        >
                    </div>
                    <div class="form-group mb-3">
                        <label for="password">Password</label>
                        <input
                            type="password"
                            class="form-control form-control-lg"
                            placeholder="Enter your password"
                            id="password"
                        >
                    </div>
                    <div class="form-group mb-3">
                        <label for="confirmPassword">Confirm Password</label>
                        <input
                            type="password"
                            class="form-control form-control-lg"
                            placeholder="Confirm your password"
                            id="confirmPassword"
                        >
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary" [routerLink]="['/auth/login']">Submit</button>
                    </div>
                </form>
                <div class="text-center mt-3">
                    <p>Already have an account? 
                        <a [routerLink]="['/auth/login']">Login</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
